*{
    margin: 0%;
    padding: 0%;
}
.logo{
    display: flex;
    justify-content: space-between;
    background-color: rgb(215,46,46);
    padding: 1rem;
}
h1{
    color: white;
}
.right button{
    margin-left: 0.5rem;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(215,46,46);
    border: none;
    padding-top: 0.4rem;
    cursor: pointer;
}
.search{
    background-color: rgba(128, 128, 128, 0.797);
    display: flex;
    justify-content: center;
    padding: 10px;
}
.searching{
    width: 300px;
    max-width: 60%;
    font-size: 1rem;
    padding-left: 0.5rem;
    border-radius: 5px;
}
.search > button{
    margin-left: 0.5rem;
    font-size: 1rem;
    background-color:rgb(215,46,46);
    border: none;
    color: white;
    padding: .5rem;
    border-radius: 10px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 40px;
    background-image: url(./img.png);
} 
.hero > h2{
    background-color: black;
    color: white;
} 
.hero > button{
    background-color: rgb(215,46,46);
    margin-top: 10px;
    color: white;
    cursor: pointer;
    padding: .5rem;
    border-radius: 7px;
} 
.popular{
    text-align: center;
    padding: 2px;
    font-size: 2rem;
    margin-top: 2rem;
}
.movies{
    display: flex;
    overflow-x: scroll;
    margin-top: 3rem;
}
.images{
    height: 400px;
}
.card{
    border: 10px solid rgb(239, 234, 228);
    background-color: rgb(239, 234, 228);
    text-align: center;
    margin-left: 1rem;
    border-radius: 10px;
}
.card > h3{
    font-size: 2rem;
}
.banner{
    margin-top: 4rem;
    text-align: center;
}
.banner > img{
    max-width: 80%;
    border-radius: 10px;
}

@media (max-width:500px){
    .logo{
        flex-direction: column;
        text-align: center;
    }
    .right{
        display: flex;
        flex-direction: column;
        padding-top: 6px;
    }
    .movies{
        flex-direction: column;
        gap: 5px;
    }
}