.container{
    background-color: aqua;
    margin-top: 150px;
    margin-left: 200px;
}

h1{
    text-align: center;
    background-color: lightgrey;
    color: red;
}

.box{
    height: 100px;
    width: 100px;
    background-color: red;
    display: inline-block;
}

.box1{
    background-color: red;
}

.box2{
    background-color: blue;
    position: relative;
    top: 25px;
    left: 25px;
}

.box3{
    background-color: green;
}

.box4{
    background-color: orange;
  
}

