.box{
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: blue;
}

.container{
    background-color: aqua;
    margin-top: 200px;
    margin-left: 100px;
}

.box1{
    background-color: red;
    position: relative;
    left: 150px;
    z-index: 7;
}

.box2{
    background-color: blue;
    position: relative;
    left: 10px;
    top: 20px;
    z-index: 2 ;
}

.box3{
    background-color: green;
    position: relative;
    z-index: 5;
}

.box4{
    background-color: orange;
}