body {
    background-color: lightgrey;
}

.first_div{
    background-color: green ;
}

.first_div > h1 , .first_div > h4 {
    background-color: green;
}

h1{
    color: white;
}

.first_div > h4{
    color: yellow;
}

/* second div */

.second_div{
    background-color: white;
}

.second_div > h2{
    color: rgba(12, 43, 200, 0.771);
}

.second_div > h3{
    color: rgb(208, 71, 117);
}

.second_div > h2, .second_div > h3, .second_div > p{
    background-color: white;
}

ul,li{
    background-color: white;
}

/* third div */

.third_div{
    background-color: white;
}
.third_div > h2{
    background-color: white;
    color: rgba(255, 0, 0, 0.896);
}

.third_div > h3{
    background-color: white;
    color:  rgb(208, 71, 117);
}

.third_div > p{
    background-color: white;
}

table,tr,td,th,a{
    background-color: white;
}

th{
    background-color: skyblue;
}

table{
    width: 100%;
    border: none;
}
 
/* fourth div */

.fourth_div{
    background-color: white;
}

.fourth_div > h2{
    color: rgba(118, 0, 227, 0.911);
}

footer{
    text-align: center;
}

