*{
    margin: 0%;
    padding: 0px;
}

.first, .third{
    display: inline-block;
    height: 40vh;
    width: 25vw ;
    background-color: red;
}

.second, .fourth{
    display: inline-block;
    height: 40vh;
    width: 62vw ;
    background-color: red;

}

.second, .fourth{
    margin-left: 11vw;
}

.third, .fourth{
    margin-top: 10vh;
}