body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#grandParent{
    height: 500px;
    width: 500px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parent{
    height: 250px;
    width: 250px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

#child{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}