.container{
    background-color: aquamarine;
    height: 1000px;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    display: flex;
    /* justify-content: end;
    justify-content: center;
    justify-content: start;
    justify-content: space-between;
    justify-content: space-around; */
    justify-content: space-evenly;
    
}
.box{
    height: 100px;
    width: 100px;
    border: 5px solid black;
    margin: 5px;
}
.box1{
    background-color: red;
}
.box2{
    background-color: blue;
}
.box3{
    background-color: green;
}
.box4{
    background-color: yellow;
}
