body{
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    background-color: white;
    padding: 30px;
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 2px 4px 4px 2px blueviolet  ;
} 

.firstName{
    font-size: large;
}

#name, #lastname, #age{
    margin: 10px 0px;
    padding: 6px;
    width: 90%;
}

button{
    display:flex;
    justify-content: center;
    width: 94.5%;
    margin: 10px 0px;
    padding: 6px;
    background-color: blue;
    color: white;
}
