body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#root{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first{
    background-color: orangered;
    color: white;
    height: 200px;
    width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns{
    display: flex;
    gap: 15px;
}

button:hover{
    background-color: red;
}