*{
    margin: 0;
}
body{
    background-color: rgb(254, 247, 247);
}
.head{
    background-color: white;
}
.first{
    margin-left: 30px;
    margin-top: 10px;
}
.brand{
    color: rgba(232, 2, 2, 0.973);
    font-size: 40px;
    font-weight: 900;
    margin-right: 680px;
}
.searching{
    width: 250px;
    margin-right: 10px;
    position: relative;
    bottom: 5px;
    height: 20px;
}
button{
    height: 25px;
    width: 80px;
    position: relative;
    bottom: 5px;
    margin-right: 40px;
    background-color: white;
    border: none;
    color: rgb(114, 110, 110);
    font-size: large;
}
.second{
    margin-top: 10px;
    margin-bottom: 10px;
    position: sticky;
    top: 0px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}
.img3{
    height: 40px;
    width: 40px;
}
.dine,.Delivery,.Nightlife{
    position: relative;
    bottom: 11px;
    font-size: small;
    left: 5px;
    color:rgba(232, 2, 2, 0.973);
}
.dining{
    margin-left: 30px;
}
.delivery{
    margin-left: 50px;
    margin-right: 50px;
}
.third{
    height: 300px;
    background-color: rgb(239, 238, 238);
}
.image{
    position: relative;
}
.off{
    font-size: 30px;
    position: absolute;
    color: white;
    background-color: rgba(5, 5, 235, 0.68);
    bottom: 17px;
    left: 1px;
    padding-right: 10px;
  
}
.card{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    border: 10px solid rgb(254, 247, 247);
    box-sizing: border-box;
}
.card:hover{
    background-color: white;
    border-color: white;
}
.img{
    height: 200px;
    width: auto;
    border-radius: 20px;
}
.box{
    display: inline-block;
}
.restaurent_name{
    font-size: 20px;
    font-weight: bold;
}
.restaurent,.food,.location{
    position: relative;
    margin-top: 4px;
    margin-bottom: 4px;
}
.rating{
    background-color: rgb(21, 196, 21);
    height:20px;
    padding: 2px;
    position: absolute;
    right: 3px;
    color: white;
    border-radius: 7px;
}
.price,.distance{
    position: absolute;
    right: 3px;
}
.food{
    font-size: 15px;
    color: rgb(91, 89, 89);
}
.place{
    font-size: 15px;
    color: rgb(148, 147, 147);
}
.distance{
    font-weight: bold;
    font-size: 13px;
}

